<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2 style="text-align: center;"> Shot Manager for directors and cinematographers - beta version </h2>
    <h3 style="text-align: center;"> Welcome on Shot Manager web application  </h3>
    <h3 style="text-align: center;"> This is the beta version of an application for creating shot lists.
    In this version, you can currently download data from .xml files from the Sony FX3 camera.
    If you have any suggestions, feel free to email me. Enjoy! </h3>
  {% block content %}
    {% endblock %}
</body>
</html>